@import url('http://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Oswald', sans-serif;                                             
}

.main {
  height: 95vh;
  display:flex;
  background-color: #2B2C33;
}

.App {
  max-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black : #111111;
  --white: #FFFFFF;
}


.content {
  width: 100%;
  height: 100vh ;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
}
}

.search {
  padding: 1rem;
  /* border: 1px solid red; */
  margin-top: 4rem;
}

.search div {
  /* border: 2px solid rgba(187,75,164,1); */
  border-radius: 10px;
  width: 20vw;
  display: flex;
  background: #373943;
  padding: 10px 12px;
}

.search img {
  margin-right: 7px;
}

.search input {
  border: none;
  outline: none;
  width: 80%;
  padding: 5px;
  background: transparent;
  color: #FFFFFF;
}